.venv
.git
.github
.dvc
.vscode
.idea
data/
external_data/
models/
logs/
frontend/node_modules/
frontend/dist/
*.db
*.pth
*.log
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/
mlruns/
outputs/
reports/
